{
    "proj_name": "{{parent}}{{^parent}}intro_py{{/parent}}{{separator}}{{^separator}}-{{/separator}}{{project}}{{^project}}util{{/project}}",
    "debug": true,
    "run": {
        "echo": true
    }
}

