{
    "name": "{{parent}}{{^parent}}intro_py{{/parent}}.{{project}}{{^project}}util{{/project}}",
    "version": "{{version}}{{^version}}0.1.0{{/version}}",
    "description": "{{description}}{{^description}}Utilites sub-package for Python Intro examples project.{{/description}}",
    "long_description_content_type": "text/x-rst",
    "url": "https://{{repohost}}{{^repohost}}bitbucket.org{{/repohost}}/{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}/{{parent}}{{^parent}}intro_py{{/parent}}",
    "author": "{{author}}{{^author}}{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}{{/author}}",
    "author_email": "{{email}}{{^email}}{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}-codelab@yahoo.com{{/email}}",
    "maintainer": "{{maintainer}}",
    "maintainer_email": "{{maintaineremail}}",
    "license": "{{license}}{{^license}}Apache-2.0{{/license}}",
    "download_url": "https://{{repohost}}{{^repohost}}bitbucket.org{{/repohost}}/{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}/{{parent}}{{^parent}}intro_py{{/parent}}/archive/master.zip",
    "keywords": ["demo", "development", "{{project}}{{^project}}util{{/project}}"],
    "platforms": ["any"],
    "setup_requires": ["wheel", "future"
        , "cffi>=0.6"
    ],
    "tests_require": [
    ],
    "install_requires": ["future"
        , "cffi>=0.6"
    ],
    "extras_require": {
        ":python_version=='2.6'": ["argparse"],
        "test": [],
        "dev": ["check-manifest>=0.12.0"]
    },
    "zip_safe": true,
    "include_package_data": true,
    "scripts": [
    ],
{{#executable}}
    "entry_points": {
        "console_scripts": [
            "{{parent}}{{^parent}}intro_py{{/parent}} = {{parent}}{{^parent}}intro_py{{/parent}}.{{project}}{{^project}}util{{/project}}.cli:main",
            "main = {{parent}}{{^parent}}intro_py{{/parent}}.{{project}}{{^project}}util{{/project}}.cli:main"
        ]
    }
{{/executable}}
{{^executable}}
    "entry_points": {}
{{/executable}}
}
