## .bumpversion.cfg in cur dir
## or [bumpversion[:___]] section in setup.cfg
[bumpversion]
current_version = {{cookiecutter.version}}
commit = True
tag = True

[bumpversion:file:{{cookiecutter.nesteddirs}}/resources/pkginfo.json]
#search = __version__ = '{current_version}'
#replace = __version__ = '{new_version}'
search = "version": "{current_version}"
replace = "version": "{new_version}"
